<div class="main-page-container">
    <div class="header">
      <div class="profile-icon">Profile</div>
      <div class="title">Explore</div>
      <button class="new-post-button" (click)="openNewPostModal()">New Post</button>
    </div>
    <div class="posts">
      <div class="post">
        <div class="user-icon">User 1</div>
        <div class="post-content">
          <h3>User 1</h3>
          <p>I have a new idea...</p>
        </div>
      </div>
      <!-- FOR POSTS STUFF -->
    </div>

    <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
          <span class="close" (click)="closeNewPostModal()">&times;</span>
          <h2>Create a New Post</h2>
          <!-- FOR POSTING NEW POSTS -->
        </div>
    </div>
      
  </div>
  